body{
    background-image: url("../images/world.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.row{
    margin-top: 5%;
}
div.wineries {
    /* background-color: lightblue; */
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    /* opacity: 0.8; */
}
.container_b{
    background-color: rgba(100, 100, 100, 0.9);
    border-radius: 10px 10px;
    margin:0 5%;
    color:white;
    height:0px;
    display:none;
    opacity: 0.1;
}
.container_b img{
    border-style: dotted;
    border-width: 5px 5px;
    border-color: white;
    width:100%;
    height:180px;
}
.container_b p{
    font-size: 14px;
}
.container_b a:hover{
    text-decoration: none;
}
.container_c{
    background-color: grey;
    border-radius: 10px 10px;
    margin:0 5%;
    opacity: 0;
}
h1{
    color: white;
    background-color: rgb(54, 54, 54);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0px;
}
li{
    color:white;
    list-style: none;
    font-size: 20px;
    text-align: left;
}
li{
    width:100%;
}
li:hover{
    background-color: rgb(163, 163, 163);
    width:100%;
    cursor:pointer;
}
div.countries {
    /* background-color: lightblue; */
    width: 100%;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
div.setting{
    width: 100%;
    height: 400px;
}
.container_a{
    background-color: grey;
    border-radius: 10px 10px;
    margin:0 5%;
    opacity: 0;
}
.container_a form{
    margin:5% 10%;
}